* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Raleway', sans-serif;
}

.landing {
    min-height: 100vh;
    background: url("./fog-7760708.jpg");
    background-size: cover;
    padding: 0rem 5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

a {
    text-decoration: none;
    color: rgb(18, 18, 18);
    border-radius: 10vh;
    border-color: white;
    z-index: 10;
}

a {
  color: #000;
  position: relative;
  text-decoration: none;
}

a::before {
  background: hsl(60, 0%, 59%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  opacity: 0.5;
}
    


.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-links li {
    font-size: 1.2rem;
    font-weight: 500;

}

#logo {
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    font-size: 2rem;
}

/* .contact-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    color: rgb(8, 8, 8);
    box-shadow:10cqmax;
} */

/* .socials {
    height: 10vh;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 3rem;
    color: rgb(8, 8, 8);
    box-shadow:10cqmax;
    text-align: center;
    border: 20px;
    text-decoration: none;
    align-content: space-around;
} */

.socials {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    top: 30%;
    left: 50%;
    padding-top: 20vh;
    padding-bottom: 15vh;
    border-style: solid;
    border-color: white;
}


